@import "tailwindcss";
@theme {
  --color-base-100: #fff8ec;
  --color-base-200: #ffeeca;
  --color-base-300: #ffc300;
  --color-base-content: #4e4637;
  --color-primary: #ffc300;
  --color-primary-content: oklch(97% 0.014 254.604);
  --color-secondary: #006b60;
  --color-secondary-content: oklch(97% 0.013 236.62);
  --color-accent: #e8b100;
  --color-accent-content: oklch(98% 0.031 120.757);
  --color-neutral: #649b92;
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: #00b69d;
  --color-info-content: oklch(97% 0.013 236.62);
  --color-info-container: #00b59d4f;
  --color-success: #00d29f;
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: #c1564c;
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: #ff14b7;
  --color-error-content: oklch(97% 0.014 343.198);

  --breakpoint-xs: 480px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1060px;

  /* --about-bg: url("./sideProfile.jpeg"); */
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  @apply text-gray-900;
}
